doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//cdn.jsdelivr.net/phaser/2.6.0/phaser.min.js')
  body
    block scripts
    block content
